    
  <h5 class="table-title">{{tableItem.name}}</h5>   
  
  <a href="http://localhost:4200/courses" class="btn btn-primary float-right" >Add new</a>
     

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">City</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Course1</td>
        <td>Sarajevo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Course2</td>
        <td>Beograd</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Course3</td>
        <td>Zagreb</td>
      </tr>
    </tbody>
  </table>
  

  

  


   


